services:
  web:
    build:
      context: .
    command: sh -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
    expose:
      - "8000"
    depends_on:
      - db
      - redis
    env_file:
      - ./.env

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - staticfiles:/app/staticfiles
    depends_on:
      - web

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${NAME}
      POSTGRES_USER: ${USER}
      POSTGRES_PASSWORD: ${PASSWORD}

  redis:
    image: redis:7
    volumes:
      - redis_data:/data
    env_file:
      - ./.env

  celery:
    build: ./
    command: celery -A config worker --loglevel=INFO
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - web
      - redis
      - db

#  celery-beat:
#    build: ./
#    command: celery -A config beat --loglevel=INFO -S django
#    volumes:
#      - ./:/app
#    env_file:
#      - .env
#    depends_on:
#      - web
#      - redis
#      - db



volumes:
  staticfiles:
  postgres_data:
  redis_data: