name: Django CI

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: ${{ secrets.NAME }}
          POSTGRES_USER: ${{ secrets.USER }}
          POSTGRES_PASSWORD: ${{ secrets.PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrate and test
        env:
          SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
          NAME: ${{ secrets.NAME }}
          USER: ${{ secrets.USER }}
          PASSWORD: ${{ secrets.PASSWORD }}
          HOST: localhost
          PORT: 5432
        run: |
          python manage.py migrate
          python manage.py test

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Deploy to YandexCloud VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}

          script: |  
            cd ${{ secrets.DEPLOY_DIR }}
            git pull origin docker
            cat > .env << 'EOF'
            SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}
            NAME=${{ secrets.NAME }}
            USER=${{ secrets.USER }}
            PASSWORD=${{ secrets.PASSWORD }}
            HOST=${{ secrets.DATABASE_HOST }}
            PORT=${{ secrets.DATABASE_PORT }}
            
            # Django
            DEBUG=True
            
            
            EOF
            sudo docker compose down --rmi all --volumes --remove-orphans || true
            sudo docker compose up --build -d